{% extends 'base.html.twig' %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <main class="profile-page">
        <section class="relative block w-full max-w-full" style="height: 500px;">
            <div
                    {{ stimulus_controller('particle',{
                        'speedMod': 0.2,
                        'particleCount': 200,
                        'lineModifier': 10000
                    }) }}

                    class="absolute top-0 w-full h-full bg-center js-background-parent"
            >
                <canvas id="canvas" data-particle-target="canvas" class="w-full"></canvas>

                <div class="js-controls absolute right-1 bottom-1">
                    <a href="#" data-particle-target="settingBtn" data-action="particle#showMenu"><i
                                class="fas fa-cogs text-slate-500 text-xl"></i></a>

                    <div class="hidden bg-white p-4 space-y-2 rounded-sm relative" data-particle-target="settingMenu">
                        <a href="#"
                           class="absolute right-1 top-1 rounded-sm bg-slate-100 border border-red-500 flex justify-center items-center"
                           data-action="particle#hideMenu"
                           style="height:20px;width:20px;">
                            <i class="fas fa-times text-red-900"></i>
                        </a>
                        <div>
                            <label for="speed">Speed mod</label>
                            <input value=0.2 step="0.1" type="range" id="speed"
                                   name="speed"
                                   min="0"
                                   max="5"
                                   data-attribute="speedMod"
                                   data-action="input->particle#updateBackground">
                        </div>
                        <div>
                            <label for="particle-count">Particle count</label>
                            <input value="200" step="1" type="range" id="particle-count" name="particle-count"
                                   min="0"
                                   max="500"
                                   data-attribute="particleCount"
                                   data-action="input->particle#updateBackground">
                        </div>
                        <div>
                            <label for="line">Line modifier</label>
                            <input step="10" value="10000" type="range" id="line" name="line"
                                   min="0"
                                   max="10000"
                                   data-attribute="lineModifier"
                                   data-action="input->particle#updateBackground">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="relative py-16 bg-slate-50">
            <div class="container mx-auto px-4">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg lg:-mt-64 md:-mt-72 -mt-96">
                    <div class="px-6">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                                <div class="relative">

                                    <img alt="avatar"
                                         src="{{ asset('uploads/users/%s' | format(user.avatar|default('https://via.placeholder.com/150'))) | default('https://via.placeholder.com/150') }}"
                                         class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16"
                                         style="max-width: 150px;"/>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
                                <div class="py-6 px-3 mt-32 sm:mt-0" {{ stimulus_controller('modal-form',{
                                    formUrl: path('app_contact')
                                }) }}>
                                    <button class="btn btn-blue" data-action="modal-form#openModal"><i
                                                class="fas fa-envelope"></i> Contact me
                                    </button>
                                    {{ include('fragments/_modal.html.twig',{
                                        modalTitle: 'Get in Touch',
                                        modalConfirm: 'Send'
                                    }) }}
                                </div>
                            </div>

                            <div class="w-full lg:w-4/12 px-4 lg:order-1">
                                <div class="flex justify-center py-4 lg:pt-4 pt-8 space-x-2">
                                    {% for site in personalSites %}
                                        {% if site.icon|length %}
                                            <a href="{{ site.url }}">
                                                <i class="{{ site.icon }} fa-2x text-slate-800"
                                                   title="{{ site.name }}"></i>
                                            </a>

                                        {% else %}
                                            <a href="{{ site.url }}" aria-placeholder="{{ site.name }}"
                                               title="{{ site.name }}" class="relative">
                                                <i class="fas fa-globe-europe fa-2x text-slate-400"></i>
                                                <span class="font-bold absolute z-10 text-slate-700 text-xl flex justify-center items-center top-0 bottom-0 left-0 right-0">{{ site.name|first|capitalize }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-12">
                            <h3 class="text-4xl font-semibold leading-normal mb-2 text-slate-800 mb-2">
                                {{ user.userData.name | default('Name') }}
                            </h3>
                            <div class="text-sm leading-normal mt-0 mb-2 text-slate-500 font-bold uppercase">
                                <i class="fas fa-map-marker-alt mr-2 text-lg text-slate-500"></i>
                                {{ user.userData['location'] | default('Location') }}
                            </div>
                            <div class="mb-2 text-slate-700 mt-10">
                                <i class="fas fa-briefcase mr-2 text-lg text-slate-500"></i>
                                {{ user.userData['work'] | default('Work') }}
                            </div>
                            <div class="mb-2 text-slate-700">
                                <i class="fas fa-university mr-2 text-lg text-slate-500"></i>
                                {{ user.userData['education'] | default('Education') }}
                            </div>
                        </div>

                        <div class="mt-5 py-10 border-t border-slate-300 text-center">
                            <div class="flex flex-wrap justify-center">
                                <div class="w-full lg:w-9/12 px-4">
                                    <p class="mb-4 text-lg leading-relaxed text-slate-800">
                                        {{ user.userData.description |default('Description')| raw }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 py-5 border-t border-slate-300 text-center">
                            <div class="flex flex-wrap justify-center">
                                <div class="w-full px-4">
                                    <div class="w-full px-4 flex flex-row space-x-2 justify-center items-center">
                                        {% for language in languages %}
                                            {% if language.icon|length %}
                                                <a href="{{ path('app_homepage', { q: language.name }) }}">
                                                    <img style="max-width: 50px;height: auto"
                                                         src="{{ asset('uploads/languages/%s' | format(language.icon)) }}"
                                                         alt="{{ language.name }}">
                                                </a>

                                            {% else %}
                                                <a class="btn-sm btn-gold"
                                                   href="{{ path('app_homepage', { q: language.name }) }}">{{ language.name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <turbo-frame id="user-services" src="{{ path('app_user_services') }}">
            Loading...
        </turbo-frame>
    </main>

{% endblock %}

{% block footer %}{% endblock %}