<header id="react-header" {{ stimulus_controller('header') }}>

    <nav class="flex flex-wrap items-center justify-between px-2 bg-blue-500 relative">

        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between pt-1">

            <div
                    class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
                <a class="text-4xl leading-none font-bold mr-4 whitespace-nowrap uppercase text-white logo"
                   href={{ path('app_homepage') }}>
                    MC
                </a>

                <button
                        class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
                        type="button"
                        data-action="header#showNavbar">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <div class="lg:flex flex-grow items-center hidden"
                 data-header-target="navbar">
                <ul class="flex flex-row md:flex-row items-baseline list-none lg:ml-auto">

                    <li>
                        <a class="pr-3 lg:pr-0 lg:px-3 flex items-baseline text-sm uppercase font-bold leading-snug text-white hover:opacity-75 py-2"
                           href={{ path('app_homepage') }}>
                            <span class="lg:ml-2">Portfolio</span>
                        </a>
                    </li>

                    <li>
                        <a class="pr-3 lg:pr-0 lg:px-3 flex items-baseline text-sm uppercase font-bold leading-snug text-white hover:opacity-75 py-2"
                           href={{ path('app_about') }}>
                            <span class="lg:ml-2">Hire me</span>
                        </a>
                    </li>

                    <li>
                        <a class="px-3 flex items-baseline text-sm uppercase font-bold leading-snug text-white hover:opacity-75 py-2"
                           href={{ path('app_about') }}>
                            <span class="ml-2">Contact</span>
                        </a>
                    </li>

                    <li>
                        <a class="px-3 flex items-baseline text-sm uppercase font-bold leading-snug text-white hover:opacity-75 py-2"
                           href={{ path('app_about') }}>
                            <span class="ml-2">About</span>
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="px-3 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75 py-2"
                               href={{ path('admin') }}>
                                ADMIN
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

</header>
