<turbo-frame id="random-projects">
    <section class="my-work py-8 px-8 md:px-32" id="work">
        <h2 class="section__title section__title--services">My work</h2>

        <div {{ stimulus_controller('carousel',{
            'options': '{
            "direction": "horizontal",
            "slidesPerView": 1,
            "spaceBetween":10,
            "pagination": {"el": ".swiper-pagination","clickable": true},
            "navigation": {"nextEl": ".swiper-button-next","prevEl": ".swiper-button-prev"},
            "breakpoints": {
              "640": {"slidesPerView": 2,"spaceBetween": 10},
              "768": {"slidesPerView": 3,"spaceBetween": 10},
              "1024": {"slidesPerView": 5,"spaceBetween": 10}}}'
        }) }}
                class="swiper" style="max-width: 80rem">
            <div class="swiper-wrapper">
                {% for project in projects %}
                    <div class="swiper-slide">
                        {% if project.bgImg %}
                            <div class="card">
                                <img src="{{ asset('uploads/projects/%s' | format(project.bgImg)) }}"
                                     alt="{{ project.name }}">
                                <div class="content">
                                    <h2 class="title">{{ project.name }}</h2>
                                    <p class="copy">{{ project.shortDescription }}</p>
                                    <a class="btn btn-blue" data-turbo-frame="_top"
                                       href="{{ path('app_project_show',{slug:project.slug}) }}">View</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="card">
                                <img src="https://via.placeholder.com/250.jpeg?text=" alt="placeholder image">
                                <div class="content">
                                    <h2 class="title">{{ project.name }}</h2>
                                    <p class="copy">{{ project.shortDescription }}</p>
                                    <a class="btn btn-blue" data-turbo-frame="_top"
                                       href="{{ path('app_project_show',{slug:project.slug}) }}">View</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </section>
</turbo-frame>