<!DOCTYPE html>
<html lang="en" class="w-full h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matej Chalachan"/>
    <meta name="description" content="Personal portfolio page"/>

    {% block metas %}{% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon-32x32.png') }}" type="image/x-icon">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="flex flex-col items-stretch min-h-full">
    {% block header %}
        {{ render(controller('App\\Controller\\SiteController::navbarItems',{origin: app.request.get('_route')})) }}
    {% endblock %}

    <main>

        {% for flash in app.flashes('success') %}
            <div class="bg-emerald-300 text-emerald-800 p-4 rounded border-emerald-800 border mx-2 font-bold mt-4">{{ flash }}
            </div>
        {% endfor %}
        {% for flash in app.flashes('danger') %}
            <div class="bg-red-300 text-red-800 p-4 rounded border-red-800 border mx-2 font-bold mt-4">{{ flash }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </main>

    {% block footer %}

        {{ render(url('app_footer')) }}

    {% endblock %}
</div>

</body>
</html>
