<!DOCTYPE html>
<html lang="en" class="w-full h-full">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon-32x32.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;600;700;800&display=swap"
          rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="flex flex-col items-stretch min-h-full">
    {% block header %}
        {{ render(url('app_navbar')) }}

        {{ encore_entry_script_tags('header') }}

    {% endblock %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block footer %}

        {{ render(url('app_footer')) }}

    {% endblock %}
</div>

</body>
</html>
