{% extends 'landing.html.twig' %}

{% block body %}
    <div
            {{ stimulus_controller('particle',{
                'speedMod': 0,
                'particleCount': 400,
                'lineModifier': 10000,
                'particleColor': 'rgb(70, 138, 246)',
                'bgColor': 'rgb(59 130 246)',
                'mouseInteraction': false,
                'lineColor': [85, 147, 247]
            }) }}

            class="absolute top-0 w-full h-full bg-center js-background-parent"
    >
        <canvas id="canvas" data-particle-target="canvas" class="w-full"></canvas>
    </div>

{% endblock %}

{% block metas %}
    {% if metaTags is not empty %}
        {% for tag in metaTags %}
            {% if tag.type is same as('name') %}
                <meta name="{{ tag.typeContent }}" content="{{ tag.content }}">
            {% endif %}

            {% if tag.type is same as('http-equiv') %}
                <meta http-equiv="{{ tag.typeContent }}" content="{{ tag.content }}">
            {% endif %}

            {% if tag.type is same as('charset') %}
                <meta charset="{{ tag.typeContent }}">
            {% endif %}

        {% endfor %}
    {% endif %}
{% endblock %}