{% extends 'base.html.twig' %}


{% block title %}
    Projects
{% endblock %}

{% block body %}

    {% if projects|length > 0 %}
        <turbo-frame id="search-tags" src="{{ path('app_search_tags') }}" class="w-full px-4 lg:px-10 pt-2">
            <div class="placeholder">&nbsp;</div>
        </turbo-frame>

        <div class="grid justify-center grid-flow-row md:grid-cols-4 gap-2 lg:gap-6 px-4 lg:px-10 pt-2 pb-4 md:pb-8">
            {% for project in projects %}
                <div class="project relative">

                    <a class="project__header" href="{{ path('app_project_show',{slug:project.slug}) }}"
                       aria-label="Project detail link">
                        {% if project.bgImg %}
                            <div class="h-32 lg:h-48"
                                 style='background: url("{{ asset('uploads/projects/%s' | format(project.bgImg)) }}") no-repeat;background-size: contain'></div>
                        {% else %}
                            <div class="no-cover"></div>
                        {% endif %}
                    </a>

                    <div class="project__body px-2">
                        <div class="py-2">
                            <a class="text-slate-700 hover:text-blue-900 font-bold text-xl"
                               href="{{ path('app_project_show',{slug:project.slug}) }}">{{ project.name }}</a>
                        </div>

                        <div class="text-slate-600 py-2">{{ project.shortDescription }}</div>

                        {% if project.language|length > 0 %}
                            <div class="mt-2 py-2 border-t border-slate-100 text-center">
                                <div class="w-full flex flex-row flex-wrap gap-1 items-center">

                                    {% for language in project.language %}
                                        {% if language.icon|length %}
                                            <a href="{{ path('app_homepage', { q: language.name }) }}">
                                                <img width="30" height="30" style="max-width: 30px;height: auto"
                                                     src="{{ asset('uploads/languages/%s' | format(language.icon)) }}"
                                                     alt="{{ language.name }}">
                                            </a>

                                        {% else %}
                                            <a class="btn-sm btn-gold"
                                               href="{{ path('app_homepage', { q: language.name }) }}">{{ language.name }}</a>
                                        {% endif %}
                                    {% endfor %}


                                </div>
                            </div>
                        {% endif %}

                    </div>

                    <div class="project__footer">
                        <ul>
                            {% if project.projectUrl %}
                                <li class="project_url">
                                    <a href="{{ project.projectUrl }}" aria-label="Demo {{ project.name }}">
                                        <i class="fas fa-globe-europe fa-2x"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% if project.sourceUrl %}
                                <li class="source_url">
                                    <a target="_blank" rel="noreferrer noopener" href="{{ project.sourceUrl }}"
                                       aria-label="Source code {{ project.name }}">
                                        <i class="fab fa-github fa-2x"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="flex flex-row px-4 lg:px-10 pb-6">
            {% if previous >= 0 %}
                <a class="relative block py-2 px-3 leading-tight bg-white border border-slate-300 text-blue-800 border ml-0 rounded hover:bg-slate-200"
                   href="{{ path('app_homepage', { offset: previous }) }}">
                    Previous
                </a>
            {% endif %}
            {% if next < projects|length %}
                <a class="relative block py-2 px-3 leading-tight bg-white border border-slate-300 text-blue-800 rounded hover:bg-slate-200 ml-auto"
                   href="{{ path('app_homepage', { offset: next }) }}">
                    Next
                </a>
            {% endif %}
        </div>

    {% else %}
        <div class="grid justify-center grid-flow-row md:grid-flow-col gap-2 lg:gap-6 px-4 lg:px-10 pt-6 pb-10">
            No projects found
        </div>
    {% endif %}

    <turbo-frame id="user-services" src="{{ path('app_user_services') }}" loading="lazy" class="w-full">
        Loading user services...
        <span class="frame-loading-show fas fa-spinner fa-spin"></span>
    </turbo-frame>

    <turbo-frame id="user-info" src="{{ path('app_user_info') }}" loading="lazy" class="w-full">
        Loading user info...
        <span class="frame-loading-show fas fa-spinner fa-spin"></span>
    </turbo-frame>

    <turbo-frame id="random-projects" src="{{ path('app_random_projects') }}" loading="lazy" class="w-full">
        Loading random projects...
        <span class="frame-loading-show fas fa-spinner fa-spin"></span>
    </turbo-frame>

{% endblock %}

{% block metas %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ absolute_url(app.request.requesturi) }}">
    <meta name="twitter:title" content="List of personal and work projects">
    <meta property='og:title' content='List of personal and work projects'/>

    {% if app.request.query.get('q') %}
        <meta name="twitter:description"
              content="List of my personal and work projects with tags {{ app.request.query.get('q') }}">
        <meta property='og:description'
              content='List of my personal and work projects with tags {{ app.request.query.get('q') }}'/>
    {% else %}
        <meta name="twitter:description" content="List of all my personal and work projects">
        <meta property='og:description' content='List of all my personal and work projects'/>
    {% endif %}

    <meta property='og:url' content='{{ absolute_url(app.request.requesturi) }}'/>

    {% if metaTags is not empty %}
        {% for tag in metaTags %}
            {% if tag.type is same as('name') %}
                <meta name="{{ tag.typeContent }}" content="{{ tag.content }}">
            {% endif %}

            {% if tag.type is same as('http-equiv') %}
                <meta http-equiv="{{ tag.typeContent }}" content="{{ tag.content }}">
            {% endif %}

            {% if tag.type is same as('charset') %}
                <meta charset="{{ tag.typeContent }}">
            {% endif %}

        {% endfor %}
    {% endif %}
{% endblock %}

