{% extends 'base.html.twig' %}


{% block title %}
    Projects
{% endblock %}

{% block body %}

    <form action="{{ path('app_homepage') }}" class="flex flex-row flex-wrap w-4/5 mx-auto justify-start mt-8" {{ stimulus_controller('search-preview',{
        url: path('app_homepage')
    }) }}>
        <input
                type="search"
                name="q"
                value="{{ app.request.query.get('q') }}"
                class="form-control"
                placeholder="Search..."
                aria-label="Search"
                autocomplete="off"
                data-action="search-preview#onSearchInput"
        >

        <div class="search-preview" data-search-preview-target="result"></div>
    </form>

    {% if projects|length > 0 %}
        <div class="flex flex-row flex-wrap w-4/5 mx-auto justify-start">
            {% for project in projects %}
                <div class="project">

                    <div class="project__header">
                        {% if project.bgImg %}
                            <div class="cover" style='background: url("{{ asset('uploads/projects/%s' | format(project.bgImg)) }}");'></div>
                        {% else %}
                            <div class="no-cover"></div>
                        {% endif %}
                    </div>

                    <div class="project__body">
                        <div>
                            <a class="text-gray-700" href="{{ path('project_show',{slug:project.slug}) }}">{{ project.name }}</a>
                        </div>

                        <div class="text-gray-600">{{ project.description|raw }}</div>

                        <div class="blog-tags">tags here </div>
                    </div>

                    <div class="project__footer">
                        <ul>
                            <li class="language">project language</li>

                            {% if project.projectUrl %}
                                <li class="project_url"><a href="#">project url</a></li>
                            {% endif %}
                            {% if project.sourceUrl %}
                                <li class="source_url"><a href="#">source url</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>


        {% if previous >= 0 %}
            <a href="{{ path('app_homepage', { offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < projects|length %}
            <a href="{{ path('app_homepage', { offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No projects found</div>
    {% endif %}



{% endblock %}

