{% extends 'base.html.twig' %}

{% block title %} Project {% endblock %}

{% block body %}

<h1>{{ project.name }}</h1>

<div>
    Eventually this WILL BE awesome project detail
</div>

<h4>Description ({{ project.description }})</h4>

    {% if project.createdAt %}
        <div>Created: {{ project.createdAt|ago }}</div>
    {% else %}
        (not published)
    {% endif %}

    <form action="{{ path('app_update',{ slug:project.slug }) }}" method="post">
        <textarea name="description" id="" cols="30" rows="10">
            {{ project.description }}
        </textarea>
        <input type="submit" value="Update">
    </form>

    <a href="{{ path('app_project') }}">Home</a>

{% endblock %}