{% extends 'base.html.twig' %}

{% block title %} Project {{ project.name }} {% endblock %}

{% block body %}

    <div class="w-full max-w-5xl mx-auto my-0 pt-6 lg:px-0 px-4 flex-1">
        <header class="pb-4">
            <div class="flex flex-row justify-between items-start">
                <h1 class="text-slate-700 text-3xl leading-10 font-bold">{{ project.name }}</h1>
                <p class="project-state"
                   title="{{ project.projectState.description|default('Work in progress') }}">{{ project.projectState.name|default('WIP') }}</p>
            </div>

            {% if project.createdAt %}
                <p class="text-xs mb-2 opacity-50">Created {{ project.createdAt|ago }}</p>
            {% else %}
                <p class="text-xs mb-2 opacity-50">(not published)</p>
            {% endif %}

            {% if project.shortDescription %}
                <p class="text-base py-4 font-medium">
                    {{ project.shortDescription }}
                </p>
            {% endif %}

            {% if project.projectUrl or project.sourceUrl %}
                <div class="flex flex-row justify-between py-2 mb-2 flex-wrap gap-1">
                    {% if project.projectUrl %}
                        <div>
                            <a class="btn btn-blue" href="{{ project.projectUrl }}">
                                <i class="fas fa-globe-europe"></i>
                                Project page
                            </a>
                        </div>
                    {% endif %}
                    {% if project.sourceUrl %}
                        <div>
                            <a class="btn btn-blue" href="{{ project.sourceUrl }}">
                                <i class="fab fa-github"></i>
                                Source code
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

        </header>

        {% if project.bgImg %}
            <img class="w-full" src="{{ asset('uploads/projects/%s' | format(project.bgImg)) }}"
                 alt="{{ project.name }} image">
        {% endif %}

        <div class="py-6">
            {{ project.description|raw }}
        </div>

        {% if githubName is not empty and project.readmeIsEnabled %}

            {% set githubProjectName = project.sourceUrl|split('/')|last %}

            <div class="">
                <div class="" {{ stimulus_controller('github-readme',{
                    githubName: githubName,
                    projectName: githubProjectName
                }) }}>
                    <div class="gh-readme-markdown" data-github-readme-target="readme"></div>
                </div>
            </div>
        {% endif %}


        <h2 class="text-xl leading-10 text-slate-700 font-bold border-b-2 border-slate-300 mb-2">Technical Sheet</h2>

        <div class="w-full flex flex-wrap gap-2 mt-4 py-4">

            {% for language in project.language %}
                {% if language.icon|length %}
                    <a href="{{ path('app_projects', { q: language.name }) }}">
                        <img width="50" height="50" style="max-width: 50px;height: auto"
                             src="{{ asset('uploads/languages/%s' | format(language.icon)) }}"
                             alt="{{ language.name }}">
                    </a>

                {% else %}
                    <a class="btn-sm btn-gold"
                       href="{{ path('app_projects', { q: language.name }) }}">{{ language.name }}</a>
                {% endif %}
            {% endfor %}
        </div>


        <div class="py-4 border-t border-slate-300 text-center">
            <div class="w-full flex flex-wrap gap-1">
                {% for tag in project.tags %}
                    <a class="tag" href="{{ path('app_projects', { q: tag.name }) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>

        {% if project.collections|length %}
            <div class="pt-10 pb-6 border-t border-slate-300 text-center">
                <h3 class="font-bold text-slate-700 text-xl text-left border-b-2 mb-2">Collections containing
                    project</h3>
                <div class="w-full flex flex-wrap gap-1">
                    {% for collection in project.collections %}
                        <a class="tag"
                           href="{{ path('app_collection_show', { slug: collection.slug }) }}">{{ collection.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>

    <turbo-frame id="random-projects" src="{{ path('app_random_projects') }}" loading="lazy" class="w-full">
        Loading random projects...
        <span class="frame-loading-show fas fa-spinner fa-spin"></span>
    </turbo-frame>

{% endblock %}

{% block metas %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ project.projectUrl }}">
    <meta name="twitter:title" content="{{ project.name }}">
    <meta name="twitter:description"
          content="{{ project.shortDescription }}">
    <meta name="twitter:image"
          content="{{ project.bgImg }}">


    <meta property='og:title' content='{{ project.name }}'/>
    <meta property='og:image' content='{{ project.bgImg }}'/>
    <meta property='og:description' content='{{ project.shortDescription }}'/>
    <meta property='og:url' content='{{ project.projectUrl }}'/>

    {% if metaTags is not empty %}
        {% for tag in metaTags %}
            {% if tag.type is same as('name') %}
                <meta name="{{ tag.typeContent }}" content="{{ tag.content }}">
            {% endif %}

            {% if tag.type is same as('http-equiv') %}
                <meta http-equiv="{{ tag.typeContent }}" content="{{ tag.content }}">
            {% endif %}

            {% if tag.type is same as('charset') %}
                <meta charset="{{ tag.typeContent }}">
            {% endif %}

        {% endfor %}
    {% endif %}
{% endblock %}
